@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: 'MBC1961';
  src: url('./assets/fonts/MBC1961.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
}

/* @font-face {
  font-family: 'MBC1961';
  src: url('./assets/fonts/MBC1961.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MBC1961';
  src: url('./assets/fonts/MBC1961.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MBC1961';
  src: url('./assets/fonts/MBC1961.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

  /* font-family: 'MBC1961', sans-serif;
  font-family: 'Pretendard', sans-serif; */
